export NODE_ENV=dev
export SERVER_PORT=3600
export LOGGER_LEVEL=all
export KEYCLOAK_REALM=dev
export KEYCLOAK_HOST=http://localhost:8080/auth
export KEYCLOAK_RESOURCE=mlops
export KEYCLOAK_SECRET=b85859c2-94a1-4630-87b2-82b6527fd3d3
export API_DATABASE_SERVER=0.0.0.0
export API_DATABASE_USERNAME=admin
export API_DATABASE_PASSWORD=admin
export API_DATABASE_NAME=api
export API_DATABASE_MIGRATIONS=true